@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif , 'Lexend Deca', sans-serif;
    font-size: 18px;
    background: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 2rem;

}

img{
   max-width: 100%;
}
ul{
    list-style: none;
}
.container{
    max-width: 500px;
    margin-bottom: 0.5em;
}
.container h2{
color: white;
font-weight: 700;
font-size: 24px;
margin-bottom: 0.6em;
padding-top: 0.5em;
}
.container span{
    color: hsl(277, 64%, 61%);
}
.container .parrafo p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 14px;
    padding-bottom: 1.2em;
    line-height: 1.8em;
}
.container .desc-wrapper:last-child{
    background-color: hsl(244, 38%, 16%);
    margin-top: -5px;
    padding: 1.5em 2em;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;
    
}
.main-wrapper .main-image img{
    /*filter: invert(0%) sepia(41%) saturate(1234%) hue-rotate(237deg) brightness(94%) contrast(82%) opacity(0.6);*/
    object-fit: cover;
    
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.container .main-image{
    position: relative;
}
.main-wrapper .main-image::after{
    
    position: absolute;
    content: '';
    left: 0;
    top: 0px;
    height: 99%;
    width: 100%;
    background-color: rgba(85, 10, 131, 0.63);
    
    border-radius: 10px 10px 0 0;
}


.container .list-stats ul li{
    color: aliceblue;
    margin-top: 0.6em;
    font-weight: 900;
    line-height: 2em;
}
.container .list-stats p{
color: hsla(0, 0%, 100%, 0.6);
font-family: 'Lexend Deca', sans-serif;
font-size: 10px;

font-weight: 400;
}
.attribution { font-size: 11px; text-align: center;color: hsla(0, 0%, 100%, 0.6); }
    .attribution a { color: hsl(228, 45%, 44%); }
/*----------------------------------------------------------*/
@media(min-width:1000px){
   body{
    min-height: calc(100vh - 0.1px);
   }
.main-wrapper{
    display: flex;
    flex-direction: row-reverse;
    
    
}
.container{
    max-width:1000px;
}
.container h2{
    font-size: 28px;
    margin-bottom: 0.6em;
    padding-top: 0.5em;
    padding-right: 55px;
    text-align: left;
    }
    .container .parrafo p{
        text-align: left;
        font-size: 14px;
        padding-right: 55px;
        padding-bottom: 1.2em;
        line-height: 1.8em;
    }

.main-wrapper .main-image img{
    
    width: 70rem;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0;
}
.main-wrapper .main-image::after{
    height: 100%;
    border-radius: 0 0.5em 0.5em 0;
}
.container .desc-wrapper:last-child{
    background-color: hsl(244, 38%, 16%);
    margin-top: 0px;
   margin-right: 0px;
    max-width: 55%;
    padding: 3em 3em;
    text-align: center;
    border-radius: 0.5em 0 0 0.5em;
    
}

.container .list-stats ul  {
    display: flex;
    margin-top: 1.8em;
    
}
.container .list-stats ul li {
    text-align: left;
margin-right: 5rem;
font-size: 20px;
margin-top: 0;
line-height: 1.2em;
}

}